.searchBar{
    background-color: #313131c3;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 80%;
}
.selectFormCtn{
    width: 70%;
    height: 90%;
    background-color: #313131c3;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
fieldset{
    border: none !important;
    outline: none !important;
}
