.main{
    width: 95%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #2b2b2bc7;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
}
.ratingCtn{
    width: 100%;
    height: 50vh;
    display: flex;
}
.ratingDisplay{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.ratingDisplay h1{
    color: rgb(227, 227, 227);
}
.ratingDisplay p{
    color: grey;
}
.ratingDisplay button{
    padding: 7px 14px;
    background-color: #FF7E1F;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.ratingDisplay button:hover{
    scale: 1.1;
}
.ratingProgressCtn{
    height: 100%;
    width: 55%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.progressBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progressLabel{
    color: rgb(155, 155, 155);
}
.ratingSlider{
    width: 60% !important;
}
.commentCtn{
    width: 100%;
    min-height: 30vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-top: 2px solid #383838;
}
.reviewPopupBox{
    position: absolute;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: #3C6D9D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    backdrop-filter: blur(5px);
}
.reviewPopupBox h3{
    font-size: 25px;
    color: #ffffff;
}
.commentText{
    background-color: #deeeff;
    padding: 10px;
    border-radius: 10px;
    color: rgb(66, 66, 66);
    font-weight: 500;
    resize: none;
    font-size: 15px;
}
.commentText:focus{
    outline: 2px solid rgb(222, 222, 222);
}
.closeBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(245, 245, 245);
    cursor: pointer;
    border-radius: 50%;
    font-size: 30px!important;
}


@media only screen and (max-width: 768px){
    .ratingCtn{
        flex-direction: column;
        height: 75vh;
    }
    .ratingDisplay{
        height: 40%;
        width: 100%;
    }
    .ratingProgressCtn{
        height: 60%;
        width: 100%;
        padding: 20px;
    }
    .commentCtn{
        padding: 20px 0px;
    }
}